@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
header,
main,
footer {
  width: 80%;
}
header {
  padding: 2em 0;
}
header h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  color: #4E5150;
}
form{
    display: flex;
    flex-direction: row;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%  ;
}
.items{
    width: 50%;
}